/* TOKEN DISTRIBUTION */
.tokenDistributionWrapper {
    text-align: center;
}

.tokenDistributionTitle {
    font-size: 2.5rem;
    margin: 0 0 80px;
}

.tokenDistributionInfographicWrapper {
    position: relative;
}

.tokenDistributionDescription {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.20vw;
    margin: 50px 0 0;
}

.buttonLearnMoreWhitepaper {
    margin-top: 50px;
}

/* Infographic text items */
.tokenDistributionInfographic {
    position: absolute;
}

.tokenDistributionImage {
    width: 70%;
    height: auto;
}

.tokenDistributionText1stItem {
    position: absolute;
    left: 8%;
    top: 25%;
    text-align: right;
}

.tokenDistributionText2ndItem {
    position: absolute;
    left: 11%;
    top: 52%;
    text-align: right;
}

.tokenDistributionText3rdItem {
    position: absolute;
    right: 4%;
    top: 27.5%;
    text-align: left;
}

.tokenDistributionText4thItem {
    position: absolute;
    right: 4.5%;
    top: 65%;
    text-align: left;
}

.tokenDistributionTextItemTitle {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.25vw;
    font-weight: 600;
}

.tokenDistributionTextItemDescription {
    font-size: 1.15vw;
}

/* .tokenDistributionWrapper {
    display: flex;
    padding: 0 20px;
    margin: 0 auto !important;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
} */

/* .tokenDistributionColumnLeft {
    font-size: 1.2rem;
    text-align: left;
    padding: 0 25px;
} */

/* .tokenDistributionColumnRight {

} */

/* .tokenDistributionImage {
    width: 90%;
    height: auto;
} */




/* COMMON */

/* .imageWrapper {
    text-align: center;
} */

.description {
    font-size: 1.3rem;
}

.buttonSkills {
    text-align: center;
    margin: 50px 0;
}

.divider {
    width: 40% !important;
    margin: 80px auto !important;
    max-width: 1280px;
}

.whatIsJaroCoinAnchor {
    position: absolute;
    bottom: 0;
}

.underline {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    cursor: default;
}
