/* WHO IS JARO? */
.whoIsJaroWrapper {
    height: 35.2vw;
    /* padding-bottom: 8.8%; */
    position: relative;
    user-select: none;
}

.whoIsJaroTitle {
    font-size: 2.5rem;
    text-align: center;
    margin: 15px 0 85px;
}

.whoIsJaroBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/WhoIsJaro.jpg) no-repeat;
    background-size: 100%;
    z-index: 1;
}

.whoIsJaroLinkedInButtonWrapper {
    position: absolute;
    right: 3.6%;
    bottom: 8%;
    z-index: 3;
}

.whoIsJaroLinkedInButtonText {
    color: #3a3a3a;
    font-size: 1.35vw;
}

.whoIsJaroLinkedInButtonImage {
    width: 16.6vw;
}

.whoIsJaroBackgroundMobile {
    margin-bottom: 20px;
    z-index: 1;
    width: auto !important;
}

.whoIsJaroColumnLeft {
    z-index: 2;
    padding-top: 0.5%;
}

.whoIsJaroTextItem {
    color: #3a3a3a;
    font-family: 'Proza Libre';
    font-weight: 100;
    font-size: 1.55vw;
    text-align: left;
    padding: 0 20px 25px 20px;
    text-shadow: 0px 1px 3px #ececec;
}

.whoIsJaroTextItemMobile {
    color: #3a3a3a;
    font-weight: 100;
    font-size: 1.15rem;
    text-align: left;
    padding: 0 20px 15px 20px;
}

.whoIsJaroColumnRight {
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 2;
}

.whoIsJaroNumbersItem {
    color: white;
    font-family: 'Proza Libre';
    text-align: center;
    text-shadow: 0px 1px 2px #000000;
    margin-bottom: 55px;
}

.whoIsJaroNumbersItemMobile {
    font-family: 'Proza Libre';
    text-align: center;
}

.whoIsJaroNumbersLastItemMobile {
    font-family: 'Proza Libre';
    text-align: center;
}

.whoIsJaroNumberMobile {
    font-size: 5rem;
}

.whoIsJaroItemSeparator {
    color: white;
    font-size: 8rem;
    font-size: 7.4vw;
    font-family: sans;
    line-height: 6.6rem;
    text-shadow: 0px 1px 5px #000000;
    padding: 0 28px;
}

.whoIsJaroNumber {
    font-size: 7vw;
    line-height: 7rem;
}

.whoIsJaroNumberDescription {
    font-size: 1.6vw;
}

/* WHAT IS JARO COIN? */
.whatIsJaroCoinWrapper {
    /* padding: 0 20px;
    margin: 0 auto !important;
    max-width: 1280px; */
}

.whatIsJaroCoinTitle {
    font-size: 2.5rem;
    margin: 90px 0;
    text-align: center;
}

.whatIsJaroCoin1ndRow {

}
.whatIsJaroCoin1stRowColumnLeft {
    font-size: 1.2rem;
    padding: 0 25px;
}
.whatIsJaroCoin1stRowColumnRight {
    font-size: 1.2rem;
    padding: 0 25px;
    text-align: center;
}

.whatIsJaroCoinIntro {
    text-align: left;
}

.whatIsJaroCoinQuote {
    font-style: italic;
}

.whatIsJaroCoinImage {
    width: 80%;
    height: auto;
}

.whatIsJaroCoin2ndRow {
    margin-top: 25px;
}

.whatIsJaroCoin2ndRowColumnRight {
    font-size: 1.2rem;
    padding: 0 25px;
}

.whatIsJaroCoin2ndRowColumnLeft {
    font-size: 1.15rem;
    padding: 0 25px;
}

/* TOKEN DISTRIBUTION */
.tokenDistributionWrapper {
    text-align: center;
}

.tokenDistributionTitle {
    font-size: 2.5rem;
    margin: 0 0 80px;
}

.tokenDistributionInfographicWrapper {
    position: relative;
}

.tokenDistributionDescription {
    font-family: 'Proza Libre', sans-serif;
    margin: 50px 0 0;
}

.buttonLearnMoreWhitepaper {
    margin-top: 50px;
}

/* Infographic text items */
.tokenDistributionInfographic {
    position: absolute;
}

.tokenDistributionImage {
    width: 70%;
    height: auto;
}

.tokenDistributionText1stItem {
    position: absolute;
    left: 11%;
    top: 20%;
    text-align: right;
}

.tokenDistributionText2ndItem {
    position: absolute;
    left: 6.7%;
    top: 51.4%;
    text-align: right;
}

.tokenDistributionText3rdItem {
    position: absolute;
    right: 4%;
    top: 27.5%;
    text-align: left;
}

.tokenDistributionText4thItem {
    position: absolute;
    right: 4.5%;
    top: 65%;
    text-align: left;
}

.tokenDistributionTextItemTitle {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
}

.tokenDistributionTextItemDescription {
    font-size: 1.25vw;
}

/* .tokenDistributionWrapper {
    display: flex;
    padding: 0 20px;
    margin: 0 auto !important;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
} */

/* .tokenDistributionColumnLeft {
    font-size: 1.2rem;
    text-align: left;
    padding: 0 25px;
} */

/* .tokenDistributionColumnRight {

} */

/* .tokenDistributionImage {
    width: 90%;
    height: auto;
} */




/* COMMON */

/* .imageWrapper {
    text-align: center;
} */

.description {
    font-size: 1.3rem;
}

.buttonSkills {
    text-align: center;
    margin: 50px 0;
}

.divider {
    width: 40% !important;
    margin: 80px auto !important;
    max-width: 1280px;
}

.whatIsJaroCoinAnchor {
    position: absolute;
    bottom: 0;
}