.timer {
    padding: 20px;
    margin: 40px 0 0;
    text-align: center;
}

.title {
    /* composes: h3 from './globalStyles.module.css'; */
    font-size: 2.2rem;
    text-transform: uppercase;
}

.titleFeatured {
    color: #ea4c4c;
}

.timeElement {
    display: inline-block;
    padding: 0 2vw;
    text-transform: uppercase;
}

.timeTitle {
    padding: 0 7px;
    font-size: 1.2vw;
}

.timeNumber {
    font-family: 'Proza Libre';
    font-size: 5.25rem;
    font-weight: bold;
}

.timeSeparator {
    font-size: 5vw;
}

.timeTitleMobile {
    font-size: 3.7vw;
}

.timeNumberMobile {
    font-size: 14vw;
}