.faqHeading {
    font-size: 2.1rem;
    text-align: center;
    margin: 0 0 80px;
}

.faqWrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

.faqItemListWrapper {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.faqItemWrapper {
    margin: 0 0 50px;
    font-size: 1.5rem;
    text-align: left;
}

.faqItemTitle {
    font-size: 1.6rem;
    margin: 14px 0;
    text-align: left;
    text-transform: uppercase;
}

.faqItemDescription {
    padding-left: 15px;
}

.faqLastItemWrapper {
    text-align: center;
}

.faqMoreQuestionsButtonWrapper {
    text-align: left;
}

.faqMoreQuestionsButton {
    height: 94px !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
}

.faqModalHeading {
    font-size: 1.7rem;
}

.faqModalItem {
    font-size: 1.6rem;
    display: inline-block;
    padding: 10px;
}

.faqModalHeading {
    font-size: 1.7rem;
}

.faqModalItem {
    font-size: 1.6rem;
    display: inline-block;
    padding: 10px;
}