.footerWrapper {
    padding: 50px 0 30px;
    background: #f3f3f3;
}

.footerItemListWrapper {
    margin: 0 auto !important;
    padding: 0 20px;
    max-width: 1160px;
}

.footerItemListMobileWrapper {
    margin: 0 auto !important;
    padding: 0 0 0 25px;
    max-width: 768px;
}

.footerItemListWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerFirstColumn {
    margin: 0 0 30px;
    font-size: 1.5rem;
    text-align: left;
}

.footerCenterColumn {
    margin: 0 0 30px;
    font-size: 1.5rem;
    text-align: center;
}

.footerLastColumn {
    margin: 0 0 30px;
    font-size: 1.5rem;
    text-align: right;
}

.footerMobileColumn {
    margin: 0 0 30px;
    font-size: 1.5rem;
    text-align: left;
}

.footerItemIcon {
    font-size: 120px;
    color: grey;
}

.footerItemTitle {
    font-size: 2.4rem;
    margin: 14px;
    text-align: center;
    text-transform: uppercase;
}

.footerItemDescription {
    text-align: center;
}

.footerLastItemWrapper {
    text-align: center;
}

.footerLearnMoreButton {
    height: 94px !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
}

.footerToolbarWrapper {
    margin: 20px auto 0 !important;
    padding: 0 20px;
    max-width: 1280px;
    font-size: 1.2rem;
}

.footerTermsWrapper {
    text-align: left !important;
}

.footerSocialWrapper {
    text-align: right !important;
}

.footerSocialItem {
    font-size: 1.4rem;
    padding: 0 5px;
}