.headerContentBackground {
    position: absolute;
    left: -12%;
    top: -5%;
    width: 100%;
    height: 100%;
    background: url(../images/HeaderClock.jpg) no-repeat;
    background-size: 89%;
    z-index: 1;
}

.headerContentWrapper {

}

.headingWrapper {
    flex-flow: row-reverse !important;
    text-align: left;
    min-height: 843px;
}

.headlineColumn {
    /* http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+0,1+25 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white 90px); */
    z-index: 2;
}

.heading {
    font-size: 3.5rem;
    color: #4c4b4b;
    margin-top: 140px;
    padding-left: 45px;
}

.headline {
    font-size: 1.8rem;
    padding: 45px 25px 25px 45px;
}

.introSectionTitle {
    font-size: 1.8rem;
}

.introDescription {
    font-size: 1.2rem;
}

.countDownWrapper {
    position: relative;
    /* http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+0,1+25 */
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
    margin-top: -80px;
    z-index: 3;
}

.countDownColumn {
    padding: 80px;
}

.introWrapper {
    max-width: 1280px;
    margin: 0 auto 40px !important;
    justify-content: center;
}

.introButtonWrapper {
    max-width: 1280px;
    margin: 0 auto 40px !important;
    justify-content: center;
}

.introColumnLeft {
    text-align: left;
    padding: 0 25px;
}

.introColumnCenter {
    text-align: left;
    padding: 0 25px;
    align-items: center;
}
.columnRight {

}

.button {
    margin: 40px 25px 0;
    text-transform: uppercase;
    text-align: right;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}