.quotesWrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1280px;
    width: 100%;
}

.quotesHeading {
    font-size: 2.1rem;
    text-align: center;
    margin: 0 0 80px;
}

.carousel {
    text-align: center;
    /* height: 650px; */
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.carouselCard {
    text-align: center !important;
}

.carouselCardText {
    text-align: center;
    font-size: 2.6rem;
}

.carouselCardAuthor {
    font-family: 'Proza Libre';
    font-size: 1.2rem;
    text-align: right;
    padding: 20px 0 0;
    height: 110px;
    overflow: hidden;
}

.carouselCardTextMobile {
    text-align: center;
    font-size: 1.8rem;
}

.carouselCardAuthorMobile {
    font-family: 'Proza Libre';
    font-size: 1rem;
    text-align: center;
    padding: 20px 0 0;
    height: 110px;
    overflow: hidden;
}
