.h2 {
    composes: h2 from "./globalStyles.module.css";
}

.carousel {
    text-align: center;
    /* height: 650px; */
    overflow: hidden;
    margin: 0 auto;
    width: 95%;
}

.carouselCard {
    text-align: center !important;
}

.text {
    text-align: center;
    font-size: 2.6rem;
    height: 76px;
    overflow: hidden;
}

.author {
    font-size: 1.2rem;
    text-align: right;
    padding: 20px 20px 0;
    height: 110px;
    overflow: hidden;
}
