.supportersHeading {
    font-size: 2.1rem;
    text-align: center;
    margin: 0 0 60px;
}

.supportersWrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

.supportersItemListWrapper {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.supportersItemWrapper {
   font-size: 1.5rem;
   padding-top: 40px;
}

.supportersItemTitle {
    font-size: 1.6rem;
    padding: 10px 20px;
    text-align: center
}

.supportersItemImage {
    width: 100%;
}

.supportersItemDescription {
    font-size: 1rem;
    padding: 0 20px 20px;
    text-align: center;
}